<div class="payment-container">
    <h1>Payment Methods</h1>
  
    <form (ngSubmit)="addPaymentMethod()" class="payment-form">
      <input [(ngModel)]="newPaymentMethod.name" placeholder="Payment Method Name" name="name" required />
      <button type="submit">Add Payment Method</button>
    </form>
  
    <ul class="payment-list">
      <li *ngFor="let method of paymentMethods" class="payment-item">
        <span>{{ method.name }}</span>
        <button (click)="deletePaymentMethod(method.id)" class="delete-button">Delete</button>
      </li>
    </ul>
  </div>
  